.weather-app {
    max-width: 760px;
    margin: 0 auto;
}

.weather-header {
  background: #00897B;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.weather-header form {
  align-self: flex-end;
}

.weather-header form input {
  padding: 5px 10px;
  border: 0;
  background: #00897B;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.weather-header form input:focus {
  outline: none;
}

.weather-header span {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 24px;
}

.weather-header form input::-webkit-input-placeholder {
   color: #fff;
}

.weather-header form input:-moz-placeholder { /* Firefox 18- */
   color: red;
}

.weather-header form input::-moz-placeholder {  /* Firefox 19+ */
   color: red;
}

.weather-header form input:-ms-input-placeholder {
   color: red;
}
