.weather-item {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
}

.weather-date,
.weather-description {
  font-size: 14px;
  padding: 20px 10px 18px;
}

.weather-date {
  padding-left: 20px;
}

.weather-description {
  flex-grow: 1;
}

.weather-icon {
  padding: 0 20px 0 0;
}
